<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <a href="/">HOME</a>
    <h1>List Products</h1>


    <form action="/products?search="> 
        <input type="search" name="search" placeholder="Search...">
        <button>Search</button>
      </form>
    <br>
    <br>

    
        <a href="/products/addProduct">
            <button type="submit">Request Add Products</button>
        </a>
   
        <br>
        <br>
    <table border="1px">

      

        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Details</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
             
                <tr>
                    <td><%= el.name %></td>
                    <td>
                        <% if ( el.price  === null) { %>
                            Calculating 
                        <% } %>
                        <% if (el.price) { %>
                            <%= el.formatedPrice %>
                        <% } %>

                    </td>
                    <td>
                        <% if ( el.price  === null) { %>
                            Your <%= el.name %> details coming soon
                        <% } %>
                        <% if (el.price) { %>
                            <a href="/products/<%= el.id %>/detail"><%= el.name %> Details</a>
                        <% } %>
                    </td>
                    <td>
                        <% if ( el.price  === null) { %>
                         Coming soon
                        <% } %>
                        <% if (el.price) { %>
                         Available
                        <% } %>
                    </td>
                    
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>